<div class="footer-content">
  <div class="row no-gutters">
    <div class="col-lg-6 d-flex flex-column justify-content-center">
        <div class="socials">
          <h4>Follow Me</h4>
          <div class="links">
            <a><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/_muthinja" target="_blank"><i class="fa-brands fa-instagram"></i></a>  
            <a href="https://www.linkedin.com/in/collins-muthinja-trippi" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://muthinja.medium.com" target="_blank"><i class="fa-brands fa-medium"></i></a>
            <a href=""><i class="fa-solid fa-envelope"></i></a>
          </div>
          <p class="email">collinsmuthinja@gmail.com</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row no-gutters">
          <div class="col-lg-4">
            <h5>Quick Links</h5>
            <ul>
              <li>Services</li>
              <li>Works</li>
              <li>Blogs</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h5>Socials</h5>
            <ul>
              <li>Instagram Profile</li>
              <li>Medium Blog Post</li>
              <li>Twitter</li>
              <li>Gmail</li>
              <li>LinkedIn</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h5>Certifications</h5>
            <ul>
              <li>DS and Algorithms</li>
              <li>Java Programming</li>
              <li>VB.Net Programming</li>
              <li>Android Programming</li>
              <li>Digital Marketing</li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>