<div class="content">
  <div class="overlay"></div>
  <nav class="navbar navbar-expand-lg navbar-dark custom-nav">
    <a class="navbar-brand Rubik-Bold custom-brand" href="#">Muthinja</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto Rubik-Medium items">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://muthinja.medium.com">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacts</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="center-box">
      <h2>Hello</h2>
      <div class="developer">
        <p>I am <span  style="font-weight: 350">Developer</span></p>
        <div class="line"></div>
      </div>

      <div class="socials">
        <span class="links">
          <a><i class="fa-brands fa-twitter"></i></a>
          <a href="https://www.instagram.com/_muthinja" target="_blank"><i class="fa-brands fa-instagram"></i></a>  
          <a href="https://www.linkedin.com/in/collins-muthinja-trippi" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
          <a href="https://muthinja.medium.com" target="_blank"><i class="fa-brands fa-medium"></i></a>
          <a href=""><i class="fa-solid fa-envelope"></i></a>
        </span>
      </div>
  </div>
</div>