<div class="container">
    <div class="row no-gutters about-content">
        <div class="col-lg-6">
          <img src="assets/collins.png" class="img-fluid" alt="Me" />
        </div>

        <div
          class="col-lg-6 d-flex flex-column justify-content-center">
          <div class="section-title Rubik-Medium">
            <h3>About Me.</h3>
            <h5>Software Developer / Tech Entrepreneur / Writer</h5>
            <p>
             I am Collins Muthinja a tech enthusiast, entrepreneur and software developer interested in
             design and development of products that help improve lives. I have built products from web applications,
             mobile applications, embedded systems, and USSD applications in various industries. As part of my achivements, 
             I have taken a technical co-founder position in various startups. More on this on <a href="http://muthinja.medium.com">my blog</a>.
            </p>
          </div>
        </div>
      </div>
</div>