<h1>Contacts</h1>
<div class="row">
   <div class="col-sm-12 col-md-6">
        <h4>Country</h4>
        <p style="font-size:20px"><b>Kenya</b></p>
        <h4>E-mail</h4>
        <p style="font-size:20px"><a href="https://collinsmuthinja@gmail.com">Email Me</a></p>
        <h4>Telephone Number</h4>
        <p style="font-size:20px"><b>0753924273</b></p>
        <h4>Linked In Profile</h4>
        <p style="font-size:20px"><a href="https://www.linkedin.com/in/collins-muthinja-4a8585167/">Check out my profile</a></p>
        <h4>Github Account</h4>
        <p style="font-size:20px"><a href="https://github.com/Magz8984">Check my works</a></p>
    </div>
   <div class="col-sm-12 col-md-6">
        <h4>City</h4>
        <p style="font-size:20px"><b>Nairobi</b></p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7977.834521940233!2d36.88298307599117!3d-1.2177158200123366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f15f50d1a0797%3A0x534c1e7fc0deb560!2sRoysambu%2C+Nairobi!5e0!3m2!1sen!2ske!4v1545230111792" width="400" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>
</div>




