<h1 class=" header">
    I'm a Software Engineer
</h1>


<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
         <img src="../../assets/java.png" alt="java" class="language"> <br>
        
         <h4 style="text-align:center">Java Developer</h4>
         <p>
            I am able to create <b>mobile apps ,desktop apps and Spark enterprise APIs  </b> (application programming interfaces) 
            all using java . My journey in java started in 2017 , at the time java 8 had a big impact on the java
            world. So all along my code has been centered around java 8 syntax though still interested
            in the evolution of java . I understand OOP programming 
            pradigms such as  <b>SOLID</b> in the context of java. 
         </p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="../../assets/c.png" alt="c" class="language"> <br>
        
         <h4 style="text-align:center">C programmer</h4>
         <p>
           As much as i have object oriented skills under my sleeve i like structural 
           programming methodologies as a result i learned C  and currently using it in 
           embedded systems programming. I must admit I feel at home deconstructing the abstraction 
           level created by most high level languages when allocating and deallocating memory blocks to 
           my programs. Still brushing on my c skills as yo can see in my  <a href="https://github.com/Magz8984">github account</a>
         </p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="../../assets/python.jpg" alt="python" class="language"> <br>
        
        <h4 style="text-align:center">Python programmer</h4>
        <p>
          In an attempt to  study a different software design paradgim language ,
          i resulted in learning python though i have not worked with popular frameworks 
          yet . I tried building a snake game once and understood some basic concepts 
          in  python.
        </p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="./assets/angular.png" alt="Angular" class="language"> <br>
        
        <h4 style="text-align:center">Angular</h4>
        <p>
          I learnt angular 6 in order to build single page applications that provdie a user friendly
          environment. While learning angular i had a chance to tinker with a host of programming languages such 
          as javascript and typescript. Example of projects i have built in angular were a the Git Search , Ordering 
          System to even this portfolio.
        </p>
    </div>
</div>