<div class="content-wrapper">
  <div class="container content">
    <h3 class="services-header">Services.</h3>

    <div class="row">
      <div class="col-lg-4 d-flex flex-column justify-content-center">
          <div class="light-gray">
            <div  class="image-flex">
              <img src="assets/coding.png" alt="coding">
            </div>
            <h5 class="image-title">Fullstack Development</h5>
            <p class="image-description">
              Most apps are divided into two sections, backend, and frontend. Developers who handle both facets are Fullstack Developers. Having acquired both skills and experience in frameworks such as React, Vue, Node JS, 
              and Spring Boot, I design both with minimal effort.
            </p>
          </div>
      </div>
      <div class="col-lg-4 d-flex flex-column justify-content-center">
        <div class="light-gray">
          <div  class="image-flex">
            <img src="assets/mobile.png" alt="mobile app developemnt">
          </div>
          <h5 class="image-title">Mobile App Development</h5>
          <p class="image-description">
            Established and startup organizations use mobile apps to increase customer engagement. Having designed and developed android apps from games, social networks, and e-health platforms, I have acquired experience
            that allows me to create mobile apps effortlessly
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex flex-column justify-content-center">
          <div class="light-gray">
            <div  class="image-flex">
              <img src="assets/web-design.png" alt="Wed Design">
            </div>
            <h5 class="image-title">Web Design</h5>
            <p class="image-description">
              Web design is monumental to the online success of an organization. Designing user journeys through wireframes and user experience has always
              been one of my passions. Through prototyping, I design user journeys making them iteratively pleasing to my clients.
            </p>
          </div>
      </div>
      <div class="col-lg-4 d-flex flex-column justify-content-center">
        <div class="light-gray">
          <div  class="image-flex">
            <img src="assets/cloud-data.png" alt="Cloud Infrastructure">
          </div>
          <h5 class="image-title">Cloud Infrastructure</h5>
          <p class="image-description">
            Cloud computing is now a must-have for all scalable businesses, it's not only cost-effective but also convenient. Having worked with popular
            cloud platforms such as AWS and GCP in both corporate and personal projects, I design secure and robust architectures on the cloud.
          </p>
        </div>
    </div>
    <div class="col-lg-4 d-flex flex-column justify-content-center">
      <div class="light-gray">
        <div  class="image-flex">
          <img src="assets/digital-marketing.png" alt="Digital Marketing">
        </div>
        <h5 class="image-title">Digital Marketing</h5>
        <p class="image-description">
          In order to acquire and satisfy customers, you need an online presence. SEO, SEM, and social media management, being consumer-facing,
          are one of my heartfelt passions. I design digital marketing plans by establishing clear and achievable KPIs for both my client and me.
        </p>
      </div>
  </div>
  <div class="col-lg-4 d-flex flex-column justify-content-center">
    <div class="light-gray">
      <div  class="image-flex">
        <img src="assets/writing.png" alt="Writing">
      </div>
      <h5 class="image-title">Content Writing</h5>
      <p class="image-description">
        Blogging has long been just about content. It can be a handy tool to increase customer engagement and or acquisition. 
        I write blogs on startup issues, product reviews, and personal experiences. I believe it's an integral part of any brand's online presence.
      </p>
    </div>
  </div>
  </div>
  </div>  
</div>